<?xml version="1.0"?>
<Events>
	<SupportURL>http://forums.indigodomo.com/viewforum.php?f=177</SupportURL>
    <Event id="messageReceived">
        <Name>SMTP Message Received</Name>
		<ConfigUI>
        	<Field id="smtpdDevice" type="menu">
            	<Label>SMTPd Device:</Label>
            	<List class="self" filter="" method="pickServer" dynamicReload="true"/>
			</Field>
		</ConfigUI>
    </Event>
</Events>


